<div class="plan">
    <div class="card card--primary">
      <header class="card__header">
        <h3 class="plan__name">Premium</h3>
        <span class="plan__price">$25</span>
        <span class="plan__billing-cycle">/month</span>
        <span class="badge badge--secondary badge--small">25% off</span>
        <span class="plan__description">Basic </span>
      </header>
      <div class="card__body">
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea quas voluptate suscipit aliquid doloremque vel officia autem culpa? Alias, consequatur. Laborum molestiae minima accusamus iure? Saepe corporis provident delectus nostrum.</p>
      </div>
    </div>
  </div>
  <div class="plan plan--popular">
    <div class="card card--secondary">
      <header class="card__header">
        <h3 class="plan__name">Entry</h3>
        <span class="plan__price">$14</span>
        <span class="plan__billing-cycle">/month</span>
        <span class="badge badge--secondary badge--small">10% off</span>
        <span class="plan__description">East start on the cloud</span>
      </header>
      <div class="card__body">
          <p>Lorem ipsum fg dolor sit amet consectetur adipisicing elit. Explicabo, distinctio vitae architecto et vero quibusdam eligendi fugit vel. Voluptatem ab unde obcaecati itaque nulla perspiciatis expedita aliquid temporibus tempore! Iusto.</p>
      </div>
    </div>
  </div>