<div class="card">
    <div class="grid grid--1x2">
      <div class="testimonial__image">
        <span class="icon-container icon-container--accent">
          <svg class="icon icon--white icon--small">
            <use xlink:href="icons/sprite.svg#qoutes"></use>
          </svg>
        </span>
        <img src="/images/testimonial.jpg" alt="a happy smiling customer" />
      </div>
      <blockquote class="qoute">
        <p class="qoute__text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi
          quisquam minima dolorem illum nostrum reiciendis porro nisi qui!
          Obcaecati possimus atque laboriosam distinctio id ipsam veritatis
          molestias iure sunt explicabo.
        </p>
        <footer>
          <div class="media">
            <div class="media__img">
              <svg class="icon icon--primary qoute__line">
                <use xlink:href="icons/sprite.svg#line"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title qoute__author">John smith</h3>
              <p class="qoute__organization">ABC company</p>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>
  </div>